{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'url_shortener/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'url_shortener/style.css' %}">

<div name="all_links-center" >
    <h1><strong>All Links</strong></h1>

    <a href="{% url 'url_shortener:index' %}" class="badge badge-primary" name="all_links">Home</a>


    {% if short_urls %}
        <table class="table table-striped table-responsive-md btn-table">

            <thead>
                <tr>
                    <th>Number of uses</th>
                    <th>Short URL</th>
                    <th>Full URL</th>
                </tr>
                
            </thead>
            
            <tbody>
                {% for short_url in short_urls %}
                <form action="{% url 'url_shortener:delete' short_url.id %}" method="delete">
                    <tr>
                        <th class="center" scope="row">{{ short_url.number_of_uses }}</th>

                        <td name="short_url_row">
                            <a href="u/{{ short_url.hashed_url }}">{{ short_url.hashed_url }}</a>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <input name="delete-shorturl" type="submit" class="btn btn-danger" value="Delete">
                        </td>

                        <td>
                            <a href="{{ short_url.full_url }}" name="all_links">
                                {{ short_url.full_url }}
                            </a>

                        </td>

                    </tr>
                </form>

                {% endfor %}

            </tbody>

        </table>

    {% else %}

        <h3><strong>No short urls available</strong></h3>

    {% endif %}

</div>