{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'url_shortener/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'url_shortener/style.css' %}">

<form action="{% url 'url_shortener:create_short_url' %}" method="post">
    {% csrf_token %}
    <div name="index-center">
        <h1><strong>URL Shortener</strong></h1>

        <a href="{% url 'url_shortener:all_links' %}" class="badge badge-primary" name="all_links">All Links</a>

        <div class="input-group mb-3">

            <input name="input-url" type="url" class="form-control" placeholder="Enter a long URL to make a ShortURL" 
                aria-label="Enter a long URL to make a ShortURL" aria-describedby="basic-addon2" required>

            <div class="input-group-append">
                {% if not short_url %} 
                        <input name="submit-url" class="btn btn-primary" type="submit" value="Make ShortURL!">
                {% endif %}

                {% if short_url %} 
                        <a href="{% url 'url_shortener:index' %}"
                           name="shorten-another-url" class="btn btn-primary">
                           Shorten another
                        </a>
                {% endif %}
            </div>
        </div>

        {% if short_url %} 
            <div class="alert alert-success" role="alert">
                <a href="{{ href_short_url }}"
                    name="short-url">
                    {{ short_url }}
                </a>
            </div>
        {% endif %}

        {% if error_message %} 
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    <div>
</form>